<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #b6ebf1;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #b6ebf1;
            }
            th.pale_color{
                color:gray;
            }

        </style>
    </head>
    <header> 
        <title>PublisherHomePage</title>
    </header>

    <body>
        <h2>Home Page</h2>
        <h4><% cout << context["username"]; %></h4>
        <form action = "/logout" method = "POST">
            <button type = "submit" >Log out</button>
        </form>
    <% if (context["publisher"] == "true")
        {
    %>
        <table style="width:100%">

             <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Production Year</th>
                        <th>Length</th>
                        <th>Summary</th>
                        <th>Director</th>
            </tr>
            <tr>
            <form action = "films" method="POST">   
                <th> <input type = "text" name = "name" placeholder="Name" required> </th>
                <th><input type = "number" name = "price" placeholder="Price" required></th>
                <th><input type = "number" name = "year" placeholder="Year" required></th>
                <th><input type = "number" name = "length" placeholder="Length" required></th>
                <th><input type = "text" name = "summary" placeholder="Summary" required></th>
                <th><input type = "text" name = "director" placeholder="Director" required></th>
                <th> <button type="submit">Add</button></th>
                </th>
            </form>

            </tr>
        </table>

        <h4>Published Films</h4>
        <table style="width:100%">
            <tr>
                <th class = "pale_color"></th>
                <th>Name</th>
                <th>Price</th>
                <th>Production Year</th>
                <th>Length</th>
                <th>Rate</th>
                <th>Director</th>
                <th> 
                    <form action="/HomePage" method = "GET">
                     <input type="text" name = "director"  placeholder="Director Filter">
                     <button type="submit" values = "Filter" > Filter </button>
                     </form>
                </th>
            </tr>

            <% for (int i = 0; i < stoi(context["n"]); i++)
            {
                std::string index = to_string(i);
                std::string number = to_string(i + 1);
            %>
                <tr>
                    <th class = "pale_color"> <% cout << number; %></th>
                    <th> <a href='/films?film_id=<% cout << context["id" + index]; %>'> <% cout << context["name" + index]; %></a></th>
                    <th><% cout << context["price" + index]; %></th>
                    <th><% cout << context["year" + index]; %></th>
                    <th><% cout << context["length" + index]; %></th>
                    <th><% cout << context["rate" + index]; %></th>
                    <th><% cout << context["director" + index]; %> </th>
                    <th> <form action="delete_films" method="POST">
                        <input type = "hidden" name = "film_id" value='<% cout << context["id" + index]; %>'>
                        <button type="submit"> Delete </button>
                    </form></th>
                </tr>  
            <% } %>

        </table>
        <%
        }
        %>

        <h4>Films</h4>
        <table style="width:100%">
            <tr>
                <th class = "pale_color"></th>
                <th>Name</th>
                <th>Price</th>
                <th>Production Year</th>
                <th>Length</th>
                <th>Rate</th>
                <th>Director</th>
                <th> 
                    <form action="/HomePage" method = "GET">
                     <input type="text" name = "director"  placeholder="Director Filter">
                     <button type="submit" values = "Filter" > Filter </button>
                     </form>
                </th>
            </tr>

            <% for (int i = stoi(context["n"]); i < stoi(context["n2"]); i++)
            {
                std::string index = to_string(i);
                std::string number = to_string(i + 1);
            %>
                <tr>
                    <th class = "pale_color"> <% cout << number; %></th>
                    <th> <a href='/films?film_id=<% cout << context["id" + index]; %>'> <% cout << context["name" + index]; %></a></th>
                    <th><% cout << context["price" + index]; %></th>
                    <th><% cout << context["year" + index]; %></th>
                    <th><% cout << context["length" + index]; %></th>
                    <th><% cout << context["rate" + index]; %></th>
                    <th><% cout << context["director" + index]; %> </th>
                </tr>  

            <% } %>
        </table>






    </body>

</html>